.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: hsla(210, 20%, 90%, 1);
  padding: 2em 0;
  font-family: 'Open Sans', sans-serif;
}
